<div class="container">
  <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email"  formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Senha: </label>
    <input type="password" class="form-control" id="password" name="password"  formControlName="password">
  </div>
  <button type="submit" class="btn btn-sucess">Entrar</button>
  <app-form-debugger [form]="formulario"></app-form-debugger>
  </form>

</div>